@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --lightblue: #2aabe4;
  --primary: #0579c2;
  --linear-gradient: linear-gradient(
    0deg,
    var(--lightblue) 0%,
    var(--primary) 77%
  );

  --linear-gradient-reversed: linear-gradient(
    180deg,
    var(--lightblue) 0%,
    var(--primary) 77%
  );
}

.btn-primary {
  background: var(--linear-gradient-reversed);
  font-size: 10px;
  padding: 6px 17px;
  border-radius: 3px;
}
.btn-primary:focus,
.btn-primary:hover {
  filter: brightness(120%) saturate(120%);
}
a {
  cursor: pointer;
}

.app-container {
  min-height: 350px;
}
